@charset "utf-8";
/* CSS Document */
/* to write a not souround it like this*/
body{
	background: #9b596b; /* id rather have #9b596b witch is a deep light red */
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; /*font type for the body tags*/
}
h1{
	color: #42f4e8; /*I am so shit at this like honsetly I should never code... ever*/
}
h2{
	color: #dfd;
}
h3{
	color: #aee;
}
h6{
}
a{
	display: block;
	width: 100px; /*block hight*/
	height: 40px; /*block width*/
	line-height: 40px; /*the hight of the line the text sits on*/
	text-align: center;
	background: #f4e842; /*background of the box*/
	color: #f44242; /*text color*/
	text-decoration: none;
}
a:hover{
	background: #48f442;/*when you hover over the box it changes color*/
}
